!pip3 install einops==0.6.1
!pip3 install transformers==4.27.4
!pip3 install open_clip_torch==2.20.0
!pip3 install gradio==3.39.0
!pip3 install omegaconf==2.3.0
!pip3 install addict==2.4.0
!pip3 install yapf==0.40.1
!pip3 install pytorch-lightning==1.6.5
!pip3 install basicsr==1.4.2